torchaudio==2.3.0
transformers>=4.35.2
transformers_stream_generator
deepspeed
accelerate
cchardet
einops
evaluate
fastapi
fschat==0.2.35
huggingface_hub
intel_extension_for_pytorch==2.3.0
lm-eval
neural-compressor
neural_speed==1.0a0
numpy==1.23.5
onnx>=1.15.0
optimum
optimum-intel
peft==0.6.2
pydantic==1.10.13
python-dotenv
python-multipart
rouge_score
sacremoses
shortuuid
starlette
uvicorn
vllm
yacs
oneccl_bind_pt
intel-extension-for-transformers
beautifulsoup4
chromadb==0.4.15
easyocr
FlagEmbedding
InstructorEmbedding
langchain==0.1.11
langchain-community==0.0.27
langchain_core==0.1.35
langid
markdown
openpyxl
PyMuPDF
python-docx
qdrant-client==1.8.2
rank_bm25
scikit-learn
sentence-transformers==2.3.1
unstructured[all-docs]
--extra-index-url https://pytorch-extension.intel.com/release-whl/stable/cpu/us/